* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', 'nimbus sans l';
}

/* .banner {
    background-image: url(/src/components/imgs/Poster.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
} */

.header {
    width: 100%;
    /* height: 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.navBar {
    width: 90%;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;

    justify-content: space-between
        /* background-color: gray; */
}

.imgTv,
.navSignin {
    display: flex;
    align-items: center;
    gap: 30px;
}

.imgTv a,
.navSignin a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: 500;
}

.imgTv h1 {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgTv img {
    width: 40px;
    height: 100%;
    margin-top: 10px;
}

.search {
    width: 50%;
    display: flex;
    color: white;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    /* padding: 5px; */

}

.search input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    left: 20px;
    /* background-color: white; */
    text-align: left;
    color: white;
}

.search .searchIcon {
    font-size: 25px;
    margin-top: 7px;
    position: relative;
    right: 10px;
}

.descriptionBox {
    width: 404px;
    height: 285px;
    position: absolute;
    top: 158px;
    left: 170px;
    gap: 16px;
    /* background-color: white; */
}

.descriptionBox2{
    display: none;
}

.descriptionBox .dB-text1 {
    width: 404px;
    /* height: 112px; */
    /* background-color: white; */
}

.descriptionBox .dB-text1 h1 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.descriptionBox .rating {
    width: 200px;
    height: 17px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-top: 15px;
}

.descriptionBox .rating .imdb-icon {
    width: Hug (101px);
    height: Hug (17px);
    top: 128px;
    gap: 10px;
    display: flex;
}

.descriptionBox .rating .rt-icon {
    gap: 10px;
}

.descriptionBox .rating .imdb-icon p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 5px;

}

.descriptionBox .rating .rt-icon p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-top: 5px;
}

.descriptionBox .db-text2 {
    width: 302px;
    height: auto;
    margin-top: 15px;
}

.descriptionBox .db-text2 p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.descriptionBox .db-button {
    width: 169px;
    height: 36px;
    padding: 6px 16px 6px 16px;
    border-radius: 6px;
    gap: 8px;
    margin-top: 15px;
    display: flex;
    background: #BE123C;
    cursor: pointer;
}

.descriptionBox .db-button:hover {
    background: #F8E7EB;
    border: 1px solid #BE123C;
    color: black;

}

.descriptionBox .db-button img {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    left: 2px;
}

.descriptionBox .db-button p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}


@media 
(max-width:318px),
(max-width:378px),
(max-width:425px) {
    .descriptionBox {
        display: none;

    }

    .banner {
        background-image: url(/src/components/imgs/Poster.png);
        background-size: center;
        background-repeat: no-repeat;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
        width: 100%;
    }

    /* .navBar {
        width: 300%;
        height: 20px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: space-between;
    } */

    .navBar {
        width: 180%;
        height: 100px;
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        /* justify-content: center; */
        /* align-items: center; */

        /* justify-content: space-between */
        /* background-color: gray; */
    }

    .imgTv {
        display: flex;
        align-items: center;
        gap: 3px;
        /* position: relative; */
        /* right: 70px; */
    }

    .imgTv a{
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

    .navSignin {
        width: 19%;
        /* background-color: aquamarine; */
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        top: 35px;
    }


   
    .navSignin a {
        /* text-decoration: none; */
        color: white;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
        margin-top: 4px;
    }

    .navSignin a:hover{
        color: #BE123C;
    }

    .navSignin img {
        display: none;
    }


    .imgTv h1 {
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 10px;
    }

    .imgTv img {
        width: 20px;
        height: 100%;
        position: relative;
        bottom: 3px;
        /* margin-top: 10px; */
    }

    .search {
        width: 80%;
        display: flex;
        flex-direction: row;
        gap: 10;
        /* justify-content: space-between; */
        border: 1px solid white;
        border-radius: 5px;
        padding: 0px;
        margin: 0;
        position: relative;
        left: 75px;

    }

    .search input {
        width: 80%;
        /* border: none;
        outline: none; */
        background: transparent;
        font-size: 10px;
        font-weight: 700;
        /* margin-bottom: -2px; */
        position: relative;
        left: 7px;
        top: 5px;
        background-color: white;
        text-align: left;
        color: white;
        padding: 3px;
        border-radius: 5px;
        
    }

    .search .searchIcon {
        font-size: 18px;
        margin-top: 11px;
        position: relative;
        right: 10px;
    }
    
   .descriptionBox {
    display: none;
   }

    .descriptionBox2{
        width: 100%;
        height: 100px;
        background-color: black;
    }

    .descriptionBox .dB-text1 h1 {
        font-size: 20px;
    }


}