*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', 'nimbus sans l';
  }
  
  

  .bannerWidth{
    width: 100%;
    height: auto;
    display: block;
    /* flex-direction: column;
    align-items: center; */
    
  }

  .cover{
    width: 100%;
    height: auto;
    /* background-color: black; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .crop{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aquamarine; */
  }